<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <!-- ARTICLE SHOW/ADD/UPDATE/DELETE -->
    <route p="" controller="PlaneController" action="index"/>
    <route p="tutorial" controller="PlaneController" action="show" params="id"/>
    <route p="addPlane" controller="PlaneController" action="addPlane"/>
    <route p="addTutorial" controller="TutorialController" action="addTutorial" params="id"/>
    <route p="addStep" controller="StepsController" action="addStep" params="id"/>
    <route p="updatePlane" controller="PlaneController" action="updatePlane" params="id"/>
    <route p="delete" controller="PlaneController" action="deletePlane" params="id"/>

    <!-- USER SHOW/LOGIN/REGISTER/LOGOUT -->
    <route p="user" controller="UserController" action="user"/>
    <route p="login" controller="UserController" action="login"/>
    <route p="register" controller="UserController" action="register"/>
    <route p="updateUser" controller="UserController" action="update" params="id"/>
    <route p="deleteUser" controller="UserController" action="delete" params="id"/>
    <route p="logout" controller="UserController" action="logout"/>
    <route p="account" controller="UserController" action="updateAccount" params="id"/>

    <!-- USER SHOW/LOGIN/REGISTER/LOGOUT -->
    <route p="addComment" controller="CommentController" action="add" params="id"/>
    <route p="deleteComment" controller="CommentController" action="delete" params="id"/>





</routes>
